@import url(reset.css);
@font-face {
    font-family: 'thin';
    src: url('../fonts/CompThin/pfdintextcomppro_thin-webfont.eot');
    src: url('../fonts/CompThin/pfdintextcomppro_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CompThin/pfdintextcomppro_thin-webfont.woff2') format('woff2'),
         url('../fonts/CompThin/pfdintextcomppro_thin-webfont.woff') format('woff'),
         url('../fonts/CompThin/pfdintextcomppro_thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'medium';
    src: url('../fonts/CompMed/pfdintextcomppro_medium-webfont.eot');
    src: url('../fonts/CompMed/pfdintextcomppro_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CompMed/pfdintextcomppro_medium-webfont.woff2') format('woff2'),
         url('../fonts/CompMed/pfdintextcomppro_medium-webfont.woff') format('woff'),
         url('../fonts/CompMed/pfdintextcomppro_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'flowregular';
    src: url('../fonts/FlowRegular/flow-webfont.eot');
    src: url('../fonts/FlowRegular/flow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FlowRegular/flow-webfont.woff2') format('woff2'),
         url('../fonts/FlowRegular/flow-webfont.woff') format('woff'),
         url('../fonts/FlowRegular/flow-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



/* main styles */
            .wrapper{width: 940px;
                     margin: 0 auto;
                     padding: 0 20px;

        
}


/* top */
            .top .wrapper{height: 117.5px;
                padding: 21.5px 0 0;

}
            .top{background: white;

}
            .top1,.top2{width: 468px;
                        display: table-cell;
                        
}
            .top3{font-size: 0;
                  position: relative;
}
            .top3:before{content: "";
                         position: absolute;
                         bottom: -40px;
                         left: 383px;
                         width: 182px;
                         height: 182px;
                         background: url(../sprites/css_sprites.png) 0 4px, white;
                         border-radius: 50%;
                         z-index: 1;
}
            .top31,.top32{width: 468px;
                          display: inline-block;
                          padding: 7px 0 0 0;
}
            .top1 p{padding:  0 0 0 24px;
                    font-family: 'thin';
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    color: #a5a5a5;
}
            .top31 ul li{display: inline-block;
                        vertical-align: bottom;
                        font-size: 16px;
                        padding: 0 22px 0 0;
                        text-transform: uppercase;
                        font-family: 'thin';
                        line-height: 54.05px;
                        letter-spacing: 0.1em;

}      
            .top32 ul li{display: inline-block;
                         vertical-align: bottom;
                         font-size: 16px;
                         padding: 0 0 0 24px;
                         text-transform: uppercase;
                         font-family: 'thin';
                         line-height: 54.05px;
                         letter-spacing: 0.1em;
                         text-align: end;

}                   
            .top31 a,.top32 a{ text-decoration: none;
                               color: black;
}
            .top32 ul{padding: 0 0 0 84px;
}
            .search,.lang{display: inline-block;
}
            .lang ul li{display: inline-block;
                vertical-align: top;
                width: 32px;
                height: 52px;
                text-align: center;
                font-size: 14px;
                text-transform: uppercase;
                font-family: 'medium';
                
}

            

            .lang a{text-decoration: none;
                    color: #959595;

}                
            .lang ul li.active{
                            background: url('../sprites/css_sprites.png') -204px -20px;
                            margin-top: -28px;
                            padding-top: 28px;
}
            .lang ul li.active a{color: white;}
            .top22{    padding: 15px 0 21px 84px;
}
            .top21{text-align: end;
}
input {
    width: 189px;
    height: 20px;
    border-bottom: 2px solid #81c7be;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    background: white;
    color: #959595;
    font-family: 'thin';
    font-size: 18px;
    line-height: 37px;

}
.search{position: relative;
        right: 35px;
}
    button {
        position: absolute; 
        top: 0;
        right: -40px;
        border: none;
        width: 34px;
        height: 33px;
        background: url(../sprites/css_sprites.png) -20px -201px;
        border-radius: 50%;
        cursor: pointer;
        margin: -6px 0 0;
      }
  .phone{position: relative;}               
.phone:before{content: "";
             position: absolute;
             width: 20px;
             height: 27px;
             bottom: 6px;
             left: -4px;
             background: url(../sprites/css_sprites.png)-204px -112px;
}
.mail{position: relative;}
.mail:before{content: "";
    position: absolute;
    width: 28px;
    height: 12px;
    bottom: 6px;
    left: -12px;
    background: url(../sprites/css_sprites.png)-94px -201px;
}


/* best */
            .best {background: url(../images/block2.png) 50%/cover; 
                   height: 588px;             
}
            .best .wrapper{height: 588px;
                           position: relative;
}
            .best p{text-align: center;
}
            .p1{       font-size: 20px;
                       padding: 43px 0 0 0;
                       text-transform: uppercase;
                       font-family: 'thin';
                       line-height: 40px;
                       letter-spacing: 0.08em;
                       color: white;
}
            .p2{       font-size: 72px;
                       text-transform: uppercase;
                       font-family: 'medium';
                       line-height: 383px;
                       letter-spacing: 0.12em;
                       color: white;
                       margin-top: -30px;
}
            .p3{       font-size: 32px;
                       font-family: 'flowregular';
                       line-height: 36px;
                       color: white;
                       margin-top: -117px;
}
.coo ul li{display: inline-block;
           width: 25px;
           height: 25px;
           background: url(../sprites/yamisprite.png)-67px -10px;
           padding: 0 0 0 12px;
    
}

.coo{position: absolute;
     bottom: 0;
     left: 384px;
     padding: 0 0 37px 0;
}

                
.coo ul li.active{
                background: url(../sprites/yamisprite.png) -10px -10px;
                width: 37px;
                height: 37px;
}
/* name */
            .name{background: white;
                  height: 380px;                
                  border-bottom: 1px solid #cdcdcd;
}
            .name .wrapper{height: 380px;           
                           position: relative;

}
            .name1 p{text-align: center;
                    font-size: 36px;
                    padding: 16px 0 0 0;
                    font-family: 'thin';
                    line-height: 40px;
                    color: #adadad;
}
            .name1{position: relative;}
            .name1:before{content: "";
                          position: absolute;
                          top: 63px;
                          left: -133px;
                          background: url(../sprites/css2_sprites.png) -10px -10px;
                          width: 311px; 
                          height: 346px;

}
            .name1:after{content: "";
                          position: absolute;
                          top: 27px;
                          right: -50px;
                          background: url(../sprites/css2_sprites.png) -341px -10px;
                          width: 204px; 
                          height: 323px;

}
            .logo{width: 188px; 
                  height: 121px;
                  background: url(../sprites/css2_sprites.png) -565px -10px;
                  margin: 57px auto;
                  position: relative;
}
            .logo:before{content: "";
                         position: absolute;
                         bottom: 0;
                         left: -136px;
                         width: 449px; 
                         height: 104px;
                         background: url(../sprites/css2_sprites.png) -10px -376px;
}
            .name .wrapper:after{content: "";
                        position: absolute;
                        bottom: -41px;
                        left: 438px;
                        width: 83px; 
                        height: 83px;
                        background: url(../sprites/css2_sprites.png)-546px -131px white;
                        border-radius: 50%;
}border-left: 20px solid red;
/* products */
            .products{background: white;

                height: 100px;

}
/* plus */
            .plus{background: lightgoldenrodyellow;

}
/* video */
            .video{background: white;

}
/* news */
            .news{background: lightskyblue;

}
/* map */
            .map{background: white;

}
/* contacts */
            .contacts{background: lightgray;

}
