@import url(reset.css);
@font-face {
    font-family: 'thin';
    src: url('../fonts/CompThin/pfdintextcomppro_thin-webfont.eot');
    src: url('../fonts/CompThin/pfdintextcomppro_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CompThin/pfdintextcomppro_thin-webfont.woff2') format('woff2'),
         url('../fonts/CompThin/pfdintextcomppro_thin-webfont.woff') format('woff'),
         url('../fonts/CompThin/pfdintextcomppro_thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'medium';
    src: url('../fonts/CompMed/pfdintextcomppro_medium-webfont.eot');
    src: url('../fonts/CompMed/pfdintextcomppro_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CompMed/pfdintextcomppro_medium-webfont.woff2') format('woff2'),
         url('../fonts/CompMed/pfdintextcomppro_medium-webfont.woff') format('woff'),
         url('../fonts/CompMed/pfdintextcomppro_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'flowregular';
    src: url('../fonts/FlowRegular/flow-webfont.eot');
    src: url('../fonts/FlowRegular/flow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FlowRegular/flow-webfont.woff2') format('woff2'),
         url('../fonts/FlowRegular/flow-webfont.woff') format('woff'),
         url('../fonts/FlowRegular/flow-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



/* main styles */
            .wrapper{width: 940px;
                     margin: 0 auto;
                     padding: 0 20px;

        
}


/* header */
            .header .wrapper{padding: 0 20px;
                           background: white;
}
            .header{background: white;
}
            .contacts{font-size: 0;
}
            .left{clear: left;
}
            .connect,.logo,.search,.lang{float: left;
}
            .connect{padding: 17px 0 0 14px;
                     
}
            .connect p{padding:  0 0 0 24px;
                       font-family: 'thin';
                       font-size: 18px;
                       line-height: 28px;
}
            .connect a{ text-decoration: none;
                     color: #a5a5a5;
}
            .logo{width: 0;
                  height: 0;
                  position: relative;
                  top: 0;
                  left: 182px;
                  border-radius: 50%;
                  background: white;
}
.logo:before{content: "";
    width: 187px;
    height: 182px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: white;
    z-index: 2;
}
            .logo img{padding: 15px 0 0 23px;
                      position: relative;
                      z-index: 3;
}
            .lang{  padding: 23px 0 0 4px;
                    margin: 0 0 0 0;
}
            .lang li{display: inline-block;
                vertical-align: top;
                width: 32px;
                height: 52px;
                text-align: center;
                font-size: 14px;
                text-transform: uppercase;
                font-family: 'medium';
}
            .lang a{text-decoration: none;
                    color: #959595;
}                

            .lang li.active{background: url('../sprites/css_sprites.png') -204px -20px;
                            margin-top: -23px;
                            padding-top: 23px;
}
            .lang li.active a{color: white;
}
            .search{padding: 16px 0 0 411px;
                    
}
            .menu{
                  padding: 30px 0 0 8px;
                  font-size: 0;
}
            .menu li{display: inline-block;
                        vertical-align: 77px;
                        font-size: 16px;
                        padding: 0 22px 0 0;
                        text-transform: uppercase;
                        font-family: 'thin';
                        letter-spacing: 0.1em;
}      
            .menu a{ text-decoration: none;
                     color: black;
}
            .menu :nth-child(5){padding: 0 21px 0 230px;
}
            .menu :nth-child(7){padding: 0 7px 0 0;
}
            .menu :nth-child(8){padding: 0;
}
            input {width: 189px;
                   height: 20px;
                   border-bottom: 2px solid #81c7be;
                   border-top: transparent;
                   border-left: transparent;
                   border-right: transparent;
                   background: white;
                   color: black;
                   font-family: 'thin';
                   font-size: 18px;
                   line-height: 37px;
                   outline: none;
}

            button {cursor: pointer;
                    border: none;
                    width: 34px;
                    height: 34px;
                    background: #65baaf;
                    border-radius: 50%;
                    position: relative;
                    bottom: 5px;
                    right: 2px;
}
            button:before{content: "";
                          position: absolute;
                          width: 10px;
                          height: 10px;
                          background: transparent;
                          border-left: 4px solid white;
                          border-right: 4px solid white;
                          border-top: 4px solid white;
                          border-bottom: 4px solid white;
                          border-radius: 50%;
                          top: 6px;
                          left: 6px;
}
            button:after{content: "";
                          position: absolute;
                          width: 4px;
                          height: 10px;
                          background: white;
                          border-radius: 20%;
                          transform: rotate(-45deg);
                          top: 18px;
                          left: 20px;

}
            .phone{position: relative;
}               
            .phone:before{content: "";
                          position: absolute;
                          width: 20px;
                          height: 27px;
                          bottom: 6px;
                          left: -6px;
                          background: url(../sprites/css_sprites.png)-204px -112px;
}
            .mail{position: relative;
                  letter-spacing: 0.02em;
}
            
            .mail:before{content: "";
                         position: absolute;
                         width: 28px;
                         height: 12px;
                         bottom: 7px;
                         left: -13px;
                         background: url(../sprites/css_sprites.png)-94px -201px;
}


/* best_tastes */
            .best_tastes{position: relative;
                         margin-top: -56px;
}
            .best_tastes img{height: 100%;
                             width: 100%;
                             position: absolute;
                             object-fit: cover;
}
            .best_tastes:before{content:"";
                                height: 100%;
                                width: 100%;
                                position: absolute;
                                background: rgba(0, 0, 0, 0.4);
                                z-index: 1;
}
            .best_tastes .wrapper{text-align: center;
                                  position: relative;
                                  z-index: 2;
}
            .taste{    font-size: 20px;
                       text-transform: uppercase;
                       font-family: 'thin';
                       letter-spacing: 0.08em;
                       color: white;
                       padding: 57px 0 0 18px
}
            .cakename{ font-size: 72px;
                       text-transform: uppercase;
                       font-family: 'medium';
                       letter-spacing: 0.12em;
                       color: white;
                       padding: 84px 0 0 18px;

}
            .description{font-size: 32px;
                         font-family: 'flowregular';
                         color: white;
                         padding: 45px 0 0 17px;

}
.coo li{display: inline-block;
           width: 25px;
           height: 25px;
           background: url(../sprites/yamisprite.png)-67px -10px;
           padding: 0 0 0 12px;
    
}

.coo{padding:173px 0 37px 36px;
     text-align: center;
}

                
.coo li.active{
                background: url(../sprites/yamisprite.png) -10px -10px;
                width: 37px;
                height: 37px;
                transform: translate(-3px, 6px);
}
/* welcome */
            .welcome{background: white;
                  border-bottom: 1px solid #cdcdcd;
}
            .welcome .wrapper{           
                           position: relative;

}           
            .invitation p{text-align: center;
                    font-size: 36px;
                    padding: 16px 0 0 0;
                    font-family: 'thin';
                    line-height: 40px;
                    color: #adadad;
}
            .invitation{position: relative;
                padding: 14px 0 0 17px;
}
            .invitation:before{content: "";
                          position: absolute;
                          top: 63px;
                          left: -124px;
                          background: url(../sprites/css2_sprites.png) -10px -10px;
                          width: 311px; 
                          height: 346px;

}
            .invitation:after{content: "";
                          position: absolute;
                          top: 27px;
                          right: -59px;
                          background: url(../sprites/css2_sprites.png) -341px -10px;
                          width: 204px; 
                          height: 323px;

}
            .logo2{
                  position: relative;
                  text-align: center;
                  padding: 48px 0 98px 15px;
}
            .logo2:before{content: "";
                         position: absolute;
                         bottom: 104px;
                         left: 247px;
                         width: 449px; 
                         height: 104px;
                         background: url(../sprites/css2_sprites.png) -10px -376px;
}
            


/* cookbook*/
            .whole_book{background: white;
                        width: 700px;
                        position: relative;
}
            .whole_book:before{content: "";
                               position: absolute;
                               top: -112px;
                               right: 203px;
                               width: 44px; 
                               height: 43px;
                               background: url(../sprites/cookbook/donut.png);
                               z-index: 1;
}
            .whole_book:after{content: "";
                              position: absolute;
                              top: -96px;
                              right: 184px;
                              width: 85px;
                              height: 10px;
                              background: white;
}

            .cookbook{background: white;
}
            .cookbook .wrapper{font-size: 0;
}
            .whole_book,.big_cake{display: inline-block;
}
            h1{text-align: center;
               font-size: 40px;
               font-family: 'flowregular';
               color: #65baaf;
               text-transform: uppercase;
               font-weight: 900;
               padding: 51px 0 0 21px;

}
            .patches{font-size: 0;
                     padding: 44px 0 0 0;
}
            .patches li{display: inline-block;
                        vertical-align: top;
}
            .mozaika{width: 181px;
                     height: 245px;
                     background: url(../sprites/cookbook/css_sprites.png)-10px -10px;
                     position: relative;
                     left: 60px;
                     text-transform: uppercase;

}
            .line{width: 39px;
                  height: 194px;
                  background: url(../sprites/cookbook/css_sprites.png)-211px -10px;
                  position: relative;
                  left: 47px;
                  top: -21px;
                  z-index: 1;
}
            .homework{width: 147px;
                      height: 49px;
                      background: url(../sprites/cookbook/css_sprites.png)-270px -10px;
                      position: relative;
                      left: 27px;
                      top: 9px;
}
            .line2{width: 66px;
                   height: 64px;
                   background: url(../sprites/cookbook/css_sprites.png)-270px -79px;
                   position: relative;
                   left: 166px;
                   top: 22px;
}

            .private_label{width: 155px;
                           height: 42px;
                           background: url(../sprites/cookbook/css_sprites.png)-10px -275px;
                           position: relative;
                           right: 42px;
                           top: 9px;
}
            .book{position: relative;
                  z-index: 5;
                  bottom: 198px;
                  right: 65px;
                  font-size: 0;
                  width: 744px;
                  height: 428px;
                  background: url(../images/cookbook.png);
}
            .book a{font-size: 18px;
                    font-family: 'medium';
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #ae865d;
}
            .patches a{font-family: 'thin';
                       font-size: 19px;
                       text-decoration: none;
                       position: relative;
                       color: white;
                       top: 15px;
                       left: 19px;
}
            .mozaika a{font-family: 'medium';
                       font-size: 17px;
                       text-decoration: none;
                       position: relative;
                       color: white;
                       top: 15px;
                       left: 19px;
}
            .right_page{vertical-align: 88px;
}
            .left_page,.right_page{width: 240px;
                                   display: inline-block;
                                   text-align: center;
}
            .left_page{padding: 0 40px 0 127px;
}

            .left_page img{padding: 61px 0 30px 0;
}
            .left_page a:hover{color: #66baaf;
}
            h2{
                font-size: 36px;
                font-family: 'medium';
                color: #caa977;
                text-transform: uppercase;
                margin-bottom: 67px;
                
}
            .right_page p{line-height: 30px;
                          font-family: 'thin';
                          font-size: 20px;
}
            .right_page ul{font-size: 0;
}
            .right_page li{display: inline-block;
                           vertical-align: -80px;
}
            .right_page a{font-size: 16px;
                          font-family: 'medium';
                          color: #caa977;
                          text-decoration: none;
}
            .back a{padding: 10px 40px 0 0;
}
            .back{margin-left: -30px;
                  padding: 0 18px 0 0;
                  position: relative;
}
            .back a:before{content: "";
                         width: 32px; 
                         height: 31px;
                         position: absolute;
                         top: -8px;
                         left: 42px;
                         background: url(../sprites/cookbook/lines.png) -114px -135px;
}
            .right_page:after{content: "";
                         position: absolute;
                         width: 45px; 
                         height: 8px;
                         top: 120px;
                         right: 193px;
                         background: url(../sprites/cookbook/lines.png) -10px -186px;
}
            .back:hover a:before{ background-position: -10px -135px;
}
            
            .forward{margin-right: -60px;
                     position: relative;
}
            .forward a{padding: 10px 0 0 40px;
}
            .forward a:before{content: "";
                            position: absolute;
                            width: 32px; 
                            height: 31px;
                            top: -9px;
                            right: 52px;
                            background: url(../sprites/cookbook/lines.png) -144px -62px;
}
            .forward:hover a:before{ background-position: -62px -135px;
}
            .back:hover a,.forward:hover a{ color: #66baaf;
}
            .lineleft{background: url(../sprites/cookbook/lines.png)-166px -135px;
}
            .lineright{background: url(../sprites/cookbook/lines.png)-223px -10px;
}
            .big_cake a{padding: 9px;
                vertical-align: 48px;
}
            .big_cake ul{padding: 45px 0 0 16px;
}
            .tiger{font-size: 24px;
                font-family: 'medium';
                color: #7ac3ba;
}
            .tm{color: #c2c2c2;
                font-family: 'thin';
                font-size: 20px;
}
            .tiger,.tm{text-align: center;
}
            .big_cake{position: relative;
                      bottom: 166px;
                      left: 17px;
}
            .big_cake:before{content: "";
                             position: absolute;
                             width: 114px; 
                             height: 105px;
                             top: -81px;
                             left: 88px;
                             background: url(../sprites/cookbook/lines.png)-10px -10px;
}
            .big_cake:after{content: "";
                             position: absolute;
                             width: 59px; 
                             height: 32px;
                             top: -110px;
                             left: 161px;
                             background: url(../sprites/cookbook/lines.png)-144px -10px;
}



/* benefits */
            .benefits{background: #e8f4f3;
                      font-size: 0;
                      
}
            .benefits .wrapper{position: relative;
}
            .benefits li{display: inline-block;
                         text-align: center;
                         font-family: 'thin';
                         font-size: 20px;
                         color: #a27a50;
                         padding: 0 0 0 120px;
                         max-width: 220px;
}
            .benefits ul{padding: 94px 0 56px 0;
                         
}
            .benefits h1{padding: 64px 0 105px 12px;
                         margin-top: -117px;
                         background: #e8f4f3;
}
            .benefits li:first-child{padding: 0 0 0 32px;
}
            .chef,.list,.heart,.cube{position: relative;
}
            .chef:before{content: "";
                        position: absolute;
                        top: -122px;
                        left: 68px;
                        width: 56px; 
                        height: 58px;
                        background: url(../sprites/benefits/benefits.png) -238px -10px;
                        z-index: 1;
}
            .chef:after{content: "";
                         position: absolute;
                         top: -152px;
                         left: 38px;
                         width: 118px; 
                         height: 118px;
                         background: url(../sprites/benefits/benefits.png) -10px -10px;
}
            .list:before{content: "";
                         position: absolute;
                         top: -120px;
                         left: 155px;
                         width: 70px; 
                         height: 58px;
                         background: url(../sprites/benefits/benefits.png) -148px -10px;
                         z-index: 1;
}
            .list:after{content: "";
                        position: absolute;
                        top: -152px;
                        left: 130px;
                        width: 118px; 
                        height: 118px;
                        background: url(../sprites/benefits/benefits.png) -10px -10px;
}
            .heart:before{content: "";
                         position: absolute;
                         top: -116px;
                         right: 72px;
                         width: 56px; 
                         height: 50px;
                         background: url(../sprites/benefits/benefits.png) -238px -88px;
                         z-index: 1;
}
            .heart:after{content: "";
                        position: absolute;
                        top: -152px;
                        right: 43px;
                        width: 118px; 
                        height: 118px;
                        background: url(../sprites/benefits/benefits.png) -10px -10px;
}
            .cube:before{content: "";
                         position: absolute;
                         top: -117px;
                         left: 132px;
                         width: 64px; 
                         height: 53px;
                         background: url(../sprites/benefits/benefits.png) -10px -148px;
                         z-index: 1;
}
            .cube:after{content: "";
                        position: absolute;
                        top: -152px;
                        left: 103px;
                        width: 118px; 
                        height: 118px;
                        background: url(../sprites/benefits/benefits.png) -10px -10px;
}
            .benefits .wrapper:before{content: "";
                                      position: absolute;
                                      top: -31px;
                                      left: 482px;
                                      width: 44px; 
                                      height: 47px;
                                      background: url(../sprites/benefits/benefits.png) -94px -148px;
                                      z-index: 1;
}
            .benefits .wrapper:after{content: "";
                                     position: absolute;
                                     top: -37px;
                                     left: 47%;
                                     width: 70px; 
                                     height: 70px;
                                     border-radius: 50%;
                                     background: white;
}
    

/* video */
            .video{background: white;
}
            .youtube{    width: 593px;
                         height: 411px;
                         background: url(../images/youtubeborder.png) no-repeat;
                         padding: 0 0 113px 0;
                         margin: 0 195px;
                         position: relative;
}
            .youtube:before{content:'';
                            position: absolute;
                            top: -194px;
                            left: 177px;
                            width: 206px;
                            height: 21px;
                            background: url(../sprites/littlecup.png);

}
            .youtube:after{content:'';
                            position: absolute;
                            top: -487px;
                            left: -677px;
                            width: 655px;
                            height: 844px;
                            background: url(../sprites/forvideo.png) -10px -10px;
                            opacity: ;
}
            .video .wrapper{position: relative;
}
            .video .wrapper:before{position: absolute;
                                   content: "";
                                   top: 326px;
                                   right: -478px;
                                   width: 265px;
                                   height: 354px;
                                   background: url(../sprites/forvideo.png) -685px -439px;
}
            .video .wrapper:after{position: absolute;
                                   content: "";
                                   top: 554px;
                                   right: -477px;
                                   width: 559px;
                                   height: 409px;
                                   background: url(../sprites/forvideo.png) -685px -10px;
}
            iframe{padding: 37px 0 0 50px;
}
            .video p{text-align:center;
                     padding: 101px 0 41px 15px;
                     font-family: 'thin';
                     font-size: 24px;
                     line-height: 32px;
}


/* news */
            .news{background: lightskyblue;

}
/* map */
            .map{background: white;

}
/* footer */
            .footer{background: lightgray;

} 